@charset "utf-8";

/*============================================
?S??I??X?^?C??
============================================*/
* {
	margin:0; padding:0; 		/*?S?v?f??}?[?W???E?p?f?B???O??Z?b?g*/
}
body {
	background-color:#c0c0c0;	/*?y?[?W?S???w?i?F*/	/*?E?F?u?y?[?W?S???w?i??*/
	font-size:95%;			/* ?t?H???g?T?C?Y?d95%??・?e */
	font-family: "メイリオ",sans-serif; /* ?t?H???g??i??d?S?V?b?N?n??・?e */
	line-height:1.5; 		/* ?s????3?d1.5?{??・?e */
	color:#000000		/* ?¶???F?d?Z?￠???O???[??・?e */
}
div#pagebody {
	width:1000px; margin:0 auto;	/*?a?e?S??d?Z???^?????O*/
	background-color:#ffffff;	/*?a?e?S???w?i?F*/

}

/*============================================
?w?b?_
============================================*/
div#header {
	height:120px;			/*?w?b?_???a????3*/
}
div#header h1 {
	padding:10px 0px 5px 20px;	/*?c?o?μ???u?2?R*/
	font-size:40px;			/*?t?H???g??T?C?Y*/
	font-family:Arial, Helvetica, sans-serif;
        text-shadow: 1px 2px 3px #808080; 
        text-align:center;	/*?t?H???g??i?T*/
}
div#header h1 a {text-decoration:none;color: #ff00ff;}

div#header h2 {
	padding:10px 0px 5px 20px;	/*?c?o?μ???u?2?R*/
	font-size:25px;	
        font-style:italic;		/*?t?H???g??T?C?Y*/
	font-family:Arial, Helvetica, sans-serif;
        text-align:center;	/*?t?H???g??i?T*/
}
div#header h2 a {text-decoration:none;color: #000000;} /*?????N??o?u? -?・*/
img {border:0;} 			/*????{?[?_?[?d0??・?e*/

/*============================================
???C?????j???[
============================================*/
ul#menu {
	width:950px; height:50px; 	/*???C?????j???[???a???????3*/
	margin:0px 20px; 		/*???}?[?W??0px?A?¶?E?}?[?W??20px*/
}
#menu li {
	list-style-type:none;		/*???X?g?}?[?J?[?3?μ??・?e*/
	display:inline;			/*???X?g???d?C?????C???\?|??・?e*/
	float:left;			/*???X?g??????e*/
}
#menu li a {
	background-color:#ff00ff;		/*?w?i?F*/
	color:#ffffff;			/*?¶???F*/
	display:block;	
        font-size:20px;			/*?????N???a?d?u???b?N?\?|??・?e*/
	width:190px; height:40px;	/*??????3*/
	padding:15px 0px 0px 0px;	/*?a?p?f?B???O*/
	text-align:center;		/*?e?L?X?g?d?Z???^?[?μ?|??・?e*/
	text-decoration:none;
        border-radius: 10px;		/*?????N???a??u?3?μ??・?e*/
	background-image:url(images/bg_menu1.png);	/*?w?i???d?w?e*/
	background-repeat:no-repeat; 	/*?w?i???d?J?e??3??￠*/
}
#menu li a:hover {
	background-color:#ffff00; 	/*?????N??}?E?X?a?a?B??c?w?i?F?d??X?・?e*/
	color:#000000; /*?????N??}?E?X?a?a?B??c?w?i???d??X?・?e*/
}


/*============================================
?C???t?H???[?V?????i?E?J????j
============================================*/
div#info {
	  width:960px;			/*????w?e*/
         float: left;			/*?J????? ?・?e*/
	  padding:10px 20px 0px 0px;
          	/*?p?f?B???O*/
         }
h3 {
        
        text-align:center;
	font-size:30px;			/*?¶???T?C?Y*/
	width:960px;			/*?!??*/
	margin:20px 20px;	/*?p?f?B???O*/
	background-color:#ff00ff;	/*?w?i?F*/
	color:#ffffff;			/*?¶???F*/
	border-radius:3px;		/*?p???・?e*/
}
p {
        text-align:center
        font-size:25px;
	width:960px;			/*????w?e*/
	margin:20px;
        font-family: "メイリオ",sans-serif;
 　　　 display:inline;	　			/*?}?[?W??*/		/*?C???f???g??*/
       } 


hr {
	clear:both;			/*?t???[?g?z?u?d?N???A?・?e*/
	width:960px;			/*????w?e*/
	margin:10px 20px;		/*?}?[?W??*/
	border:1px dotted #cccccc;	/*?a?e??a??e?d?O???[??_?u?\?|??・?e*/
}



/*============================================
?o?l?i?n
============================================*/
div.remarks {
	margin:0px 10px 10px 10px;
}
h4 {
	color:#000066;
}

/*============================================
?t?b?^
============================================*/
div#footer {
	clear:both;			/*?t???[?g?z?u?d?N???A?・?e*/
	height:80px;			/*???3??w?e*/
	padding:10px 0px 0px 0px;	/*?p?f?B???O*/
	font-size:15px;		/*?t?H???g?T?C?Y??3?-?・?e*/
	text-align:center;		/*?Z???^?????O*/
}
.teamlogo001
{
margin:auto;
}
